@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --white: #FFF;
  --lightgrey: #CCC;
  --red: #FF0000;
  --darkblue: #0220BE; 
  --lightblue: #69A5FF;
  --iconcolor: #4B93FF; 
  --buttongradient: linear-gradient(83deg, #69A5FF -2.81%, #0769FD 29.2%, #0220BE 95.68%);
  --buttonhovergradient: linear-gradient(83deg, #BDD7FE -2.81%, #80B2FF 43.48%, #4B93FF 95.68%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .container {
    margin: auto;
    width: 40%;
    overflow: auto;
    padding: 3rem 2rem;
  }
  
  form {
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid var(--darkblue);
  }

  .erro {
    font-size: 10pt;
    color: var(--red);
  }

  #inputTarefa {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--lightgrey);
  }

  #buttonAdicionar {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0 solid;
    border-radius: 0px 10px 10px 0px;
    background: var(--buttongradient);
    color: var(--white);
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
  }

  #buttonAdicionar:hover {
    background: var(--buttonhovergradient);
  }
  
  ul {
    list-style: none;
  }
  
  ul li {
    border: 1px solid var(--lightblue);
    border-radius: 10px;
    position: relative;
    padding: 10px;
    margin: 15px 0;
    display: flex;
  }

  ul li.checked {
    text-decoration: line-through;
  }

  i {
    position: absolute;
    font-size: 26px;
    cursor: pointer;
    color: var(--iconcolor);
  }

  p {
    margin-left: 35px;
  }
  
  span {
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
  }

  @media screen and (max-width: 900px) {
    .container {
      width: 90%;
    }
  }